li {
	display:inline;
	list-style-type: none;
	/*float:right;*/
}
nav li:first-child {
	/*float: left;*/
}
img{
	width:100%;
	display:block;
}

.lower-section{
	z-index:5;
}
.higher-section{
	z-index:5;
}

.holder{
	position:relative;
	margin:30px 30px;
	padding:30px 30px;
	height:100%;
}

.left-section{
	/*position:absolute;*/
	top:0;
	left:0;
	height:80%;
}
.center-section{
	position:absolute;	
	top:30%;
	left:12%;
	height:100%;
}

.right-section{
	position:absolute;
	bottom:0;
	right:0;
	width:30%;
}
.section-1  .left-section{
	width:80%;
}

/*.section-1 {
	height:500px;
}*/
.section-1 .right-section{
	height:80%;
	background:blue;
}
.section-2 {
	height:500px;
}
.section-2 .right-section{
	width:60%;
	height:80%;
}
.section-2 .left-section{
	width:60%;
	background:blue;
}

.section-3 .left-section{
	width:30%;
	background:blue;
	height:80%;
}
.section-3 .center-section{
	width:50%;
	background:blue;
	height:100%;
}
.section-3 .right-section{
	width:30%;
	background:blue;
	/*height:80%;*/
}

.section-3 .center-section img {
	height:100%;
}