li {
	display:inline;
	list-style-type: none;
	/*float:right;*/
}
nav li:first-child {
	/*float: left;*/
}
img{
	width:100%;
	display:inline-block;
	text-align: right;
}
body{
	position:relative;
	/*display:block;*/
/*	margin:30px 30px;
	padding:30px 30px;*/
}
.holder{
	position:relative;
	display:block;
    overflow:auto;
	width:100%;
	height:100%;
/*	margin-right: auto;
	margin-left:auto;*/
/*	background: red;*/
	/*margin:10px 0 0 0;*/
/*    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;*/
}
.text-holder{
	/*position:absolute;*/
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    /*height: 100%;*/
    border-radius: 5px;

}
.text-holder-right ul {
	padding: 10% 10%;
}
.text-holder-right ul li {
	padding: 0 10%;
}
.text-holder-right h2 {
	padding: 20% 0;
}
.text-holder-right button {
	margin: 10% 0;

}
.img-holder{
	/*display:block;*/
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
    /*transition: 0.3s;*/
    width: 40%;
    /*border-radius: 5px;*/
}
.text-holder-right {
	position:absolute;
	bottom:0%;
    right:0%;
    height:80%;
    width:30%;
    z-index:5;
    background: green;
}
.img-holder-left {
	position:relative;
	top:0%;
    left:0%;
    height:100%;
    width:80%;
    z-index:1;
    padding-bottom: 10%;
}
#section-3 {
	position:relative;
	display:block;
    overflow:auto;
	width:100%;
	height:100%;
/*	padding-left: 1%;
	padding-right: 2%;*/
	margin-bottom: 50px;
}
#section-3 .text-holder-left {
	position:relative;
    width:60%;
    background: green;
    z-index:1;
    margin-bottom:10%;
}
#section-3 .text-holder-left ul {
	padding: 5% 5%;
}
#section-3 .text-holder-left ul li {
	padding: 0 5%;
}
#section-3 .text-holder-left h2 {
	padding: 10% 10% 10% 1%;
	margin:0 40% 0 0;
}
#section-3 .text-holder-left button {
	margin-top: 5%;
	margin-left: 15%;
	margin-right: 10%;
	margin-bottom: 10%;

}
#section-3 .img-holder-right {
	position:absolute;
	/*margin-left: auto;*/
	bottom:0;
    right:0;
    height:85%;
    width:60%;
    z-index:5;
    /*padding-top: 10%;*/
}
#section-3 {

}


#section-5 .text-holder-left {
	position:relative;
    width:30%;
    background: green;
    z-index:5;
    margin-top:10%;
/*	bottom:0%;
    left:0%;
    height:80%;
    width:30%;
    z-index:5;
    background: green;
    margin-top: 7%;*/
}
#section-5 {
	margin-bottom: 50px;
}

#section-5 .text-holder-left ul {
	padding: 10% 10%;
}
#section-5 .text-holder-left ul li {
	padding: 0 10%;
}
#section-5 .text-holder-left h2 {
	padding: 20% 0;
}
#section-5 .text-holder-left button {
	/*margin: 10% 0;*/
	margin-top: 5%;
	/*margin-left: 30%;*/
	/*margin-right: 10%;*/
	margin-bottom: 15%;
}
#section-5 .img-holder-center {
	position:absolute;
	top:0;
    left:10%;
    /*height:85%;*/
    width:50%;
    z-index:1;
	/*top:0%;
    left:0%;
    height:100%;
    width:80%;
    z-index:1;
    padding: 0 20% 20% 10%;*/
}

footer {
	background: #333;
	color:#fff;
	/*padding-top: 50px;*/
}

footer .col-4{
	padding-left: 5%;
	padding-right: 5%;
	margin:50px 0;
}
#footer-nav {
	padding-bottom:50px;
	padding-left: 3%;
	padding-right: 5%;
}


